.profile-section {
    width: 100%;
    height: fit-content;
    padding: 20px;
    padding-bottom: 80px;
}

.user-profile-card {
    width: 100%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid #000; */
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.user-profile-card-section {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.user-profile-card-section-left {
    display: flex;
    gap: 20px;
}

.user-profile-card-section-right i,
.user-profile-card-bookings i{
    font-size: 22px;
}

.profile-img {
    width: 50px;
}

.user-profile-card-bookings {
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu-list {
    margin-top: 10px;
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px 0px;
}

.mobile-menu .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mobile-menu .left i {
    color: #ffb803;
}